<h1>User Index</h1>
	
	<%= link_to "New User", new_user_path, :id => "new_link", remote: true %>
	

<h2>All Users</h2>

	<div id="all_users">
		
	<% @users.each do |u| %>

		<p><%= u.name%></p>

	<% end %>
	
	</div>


  
